<link rel="stylesheet" href="/css/interviw.css">

<section id="interviews-all">
    <h4>Interviews List</h4>
    <%for(interview of all_interviews) {%>
        <p>
              <a href="/student/profile/<%= student%>"><%= interview.company %></a>
        </p>
   <% } %>


</section>




<form class="form-interview" action="/interviews/create" method="POST">
    <h4>Create a Interview</h4>
    <div>
      <label for="company">Company:</label>
      <input type="text" id="company" name="company" required>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required>
    </div>
    <div>
      <label for="students">Students:</label>
      <select id="students" name="students" multiple>
        <% students.forEach(function(student) { %>
          <option value="<%= student._id %>"><%= student.name %> (<%= student.email %>)</option>
        <% }); %>
      </select>
    </div>
    <button type="submit">Create Interview</button>
  </form>
  